.styleILC {
    background: rgb(249,255,243);
    background: -moz-linear-gradient(0deg, rgba(249,255,243,1) 0%, rgba(0,0,0,1) 41%);
    background: -webkit-linear-gradient(0deg, rgba(249,255,243,1) 0%, rgba(0,0,0,1) 41%);
    background: linear-gradient(0deg, rgba(249,255,243,1) 0%, rgba(0,0,0,1) 41%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9fff3",endColorstr="#000000",GradientType=1);
    background-size: cover;
    background-position: center;
}